@font-face {
  font-family: 'iconfont';  /* project id 1054829 */
  src: url('//at.alicdn.com/t/font_1054829_3xfssxio9c8.eot');
  src: url('//at.alicdn.com/t/font_1054829_3xfssxio9c8.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1054829_3xfssxio9c8.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1054829_3xfssxio9c8.woff') format('woff'),
  url('//at.alicdn.com/t/font_1054829_3xfssxio9c8.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1054829_3xfssxio9c8.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_logo:before {
  content: "\e626";
}

.icon_channel:before {
  content: "\e627";
}

.icon_business:before {
  content: "\e628";
}

.icon_authority:before {
  content: "\e629";
}

.icon_order:before {
  content: "\e62a";
}

.icon_warning:before {
  content: "\e62b";
}

.icon_edit:before {
  content: "\e62c";
}

.icon_file:before {
  content: "\e62d";
}

.icon_delete:before {
  content: "\e62e";
}

.icon_detail:before {
  content: "\e62f";
}

.icon_dropdown:before {
  content: "\e630";
}

.icon_close:before {
  content: "\e631"
}

.icon_checked:before {
  content: "\e632"
}

.icon_search:before {
  content: "\e633"
}

.icon_sign:before {
  content: "\e635"
}

.icon_check:before {
  content: "\e637"
}

.icon_new:before {
  content: "\e601"
}

