input::-webkit-input-placeholder {
  color: rgba(195, 195, 195, 0.6);
  font-size: 16px;
}

input {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-block;
}

input:focus {
  outline: 0;
  box-shadow: none;
}

button:focus {
  outline: 0;
}

button:active {
  outline: 0;
  box-shadow: none;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 5px;
  height: 12px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 2 0 16px rgba(195, 195, 195, 0.6);
  background: rgba(144, 150, 153, 0.1)
  border-radius: 20px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: rgba(220, 220, 220, 0.6);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(220, 220, 220, 0.6);
}

label {
  font-size: 16px;
}
